@use 'reset';
@use './variables/' as *;
@use './functions/' as *;


// * {
//     outline: red 1px solid;
// }

h2 {
    font-size: 1.5rem;
    font-weight: 700;

    color: #64503C;
}

#infopage {
    overflow: hidden;
}

.info-banner {
    position: relative;
    width: 100%;
    height: 50vh; 
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-bottom: 50px;

    .swiper-slide {
        position: relative; 
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 1s ease;

        figure {
            width: 400px;
            height: 300px;
        }

        img {
            @extend %img-cover;
            border-radius: 10px;
            display: block;
        }

        &.swiper-slide-prev,
        &.swiper-slide-next {
            transform: scale(0.8);
            opacity: 0.8;

            &::after {
                content: "";
                position: absolute;
                inset: 0;
                background: #D6F6DC;
                opacity: 0.3;

                clip-path: path("M3.90165 50.1623L0 146.104C0 146.104 4.38935 232.305 4.38935 255.195C4.38935 263.474 4.38935 271.997 4.38935 280.276C4.38935 282.711 3.90165 294.399 3.90165 294.399L128.023 297.078L228.978 300L394.066 291.964L397.236 192.857C397.236 192.857 396.505 85.2273 398.7 75.2435C401.138 64.2857 394.066 3.16558 394.066 3.16558C394.066 3.16558 340.175 0.73052 324.081 0.73052C277.748 0.73052 231.173 0.73052 184.841 0.73052C146.312 0.73052 107.783 0.73052 69.2542 0.73052C59.9878 0.73052 8.77871 0 8.77871 0L3.90165 50.1623Z");
                z-index: 1;
            }
        }

        &.swiper-slide-active {
            opacity: 1;
        }

    }

    .banner-mask {
        position: absolute;
        inset: 0;
        overflow: hidden;
        z-index: 0;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            object-fit: cover; 
            transform: translate(-50%, -50%);
        }
    }

    .swiper {
        width: 100%; 
        max-width: 1200px;
        height: auto;
        z-index: 1; 
    }


    .swiper-pagination {
        bottom: 20px; 

        .swiper-pagination-bullet {
            width: 12px;
            height: 12px;
            background-color: #ffffff;
            opacity: 0.7;
        }

        .swiper-pagination-bullet-active {
            background-color: #69C9A0; 
            opacity: 1;
        }
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.info-bread {
    color: $brown-70;
    margin-bottom: 20px;

    img{
        width: 20px;
        padding-bottom: 10px;
    }

    a {
        display: inline-block;
        color: $brown-70;

        &:hover {
            color: $sky-blue;
        }
    }
}


.info-custom-prev,
.info-custom-next {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    z-index: 20;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #fff;
    color: #64503C;
    z-index: 2;
}

.info-custom-prev {
    left: 10%;
}

.info-custom-next {
    right: 10%; 
}

.info-custom-prev:hover,
.info-custom-next:hover {
    transform: translateY(-50%) scale(1.1); 
    background-color: #64503C;
    color: #ffffff;
}

.info-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    width: 80%;

    @media (max-width:1024px) {
        flex-direction: column;
        gap: 40px;
    }
}

.info-banner {
    .swiper-slide {
        img {
            clip-path: polygon(2% 0, 95% 0, 99% 14%, 100% 50%, 98% 100%, 55% 100%, 0 98%, 0 22%);
            ;
        }
    }
}

.info-basic {
    max-width: 250px;
    display: flex;
    flex-direction: column;

    .info-tag {
        margin: 10px 0;

        .tags {
            font-size: 1.2rem;
            padding: 0 1rem;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 99px;
            margin-right: 10px;
            color: #fff;


            &.season {
                background-color: #7DC5E4;
            }

            &.location {
                background-color: #9D47B9;
            }
        }
    }

    .info-date {
        margin-top: 10px;
        display: flex;
        gap: 5px;
        align-items: center;
        position: relative;

        .arr {
            width: 20px;
            height: 20px;
            background-color: #69C9A0;
            clip-path: polygon(100% 50%, 0 0, 0 100%);
        }

        .month {
            position: absolute;
            z-index: 2;
            width: 50px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            background-color: #69C9A0;
            font-size: 1.4rem;
            font-weight: 800;
            color: #fff;
            clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
        }

        .date {
            margin-top: 1.5rem;
            margin-left: 0.5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100px;
            height: 100px;
            padding-top: 1rem;
            text-align: center;
            background-color: #FFF4CA;
            clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
            color: #69C9A0;

            .day {
                font-size: 2rem;
                font-weight: 800;
                line-height: 1.5;
            }

            .week {
                font-size: 1rem;
                line-height: 1;
            }
        }


    }


}

.info-about {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;

    .info-icon {
        display: flex;
        gap: 10px;
    }

    .info-item {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    img {
        height: 30px;
        width: auto;
    }

    .info-price {
        margin-top: 10px;

        h3 {
            font-size: 1.2rem;
            font-weight: 700;
            color: #64503C;
            margin-bottom: 5px;
        }

        .price-items {
            display: flex;
            align-items: center;
            gap: 5px;

            p {
                margin: 0;
                font-size: 1rem;
                color: #64503C;
            }

            .divider {
                width: 2px;
                height: 20px;
                background-color: #64503C;
            }
        }
    }

    .info-time {
        margin-top: 10px;
        align-self: flex-start;

        h3 {
            font-size: 1.2rem;
            font-weight: 700;
            color: #64503C;
            margin-bottom: 5px;
        }

        .time-items {
            display: flex;
            align-items: center;
            gap: 10px;

            p {
                margin: 0;
                font-size: 1rem;
                color: #64503C;
            }

            .divider-vertical {
                width: 2px;
                height: 20px;
                background-color: #64503C;
            }
        }
    }

}

.info-weather {
    position: relative;
    width: 228px;
    margin-top: 2rem;

    .weather-bg {
        width: 120%;
        height: auto;
        display: block;
    }

    /* 天氣 icon */
    .weather-icon {
        position: absolute;
        top: -8vh; 
        left: 45%;
        transform: translateX(-50%);
        width: clamp(80px, 10vw, 120px);

        @media (max-width: 1024px) {
            left: 45%;
            top: -6vh;
        }

        @media (max-width: 640px) {
            left: 45%;
            top: -5vh;
        }

        img {
            width: 150%;
            height: auto;
            display: block;

            @media (max-width: 640px) {
                width: 180%;
            }
        }
    }

    /* 左右資訊容器 */
    .weather-info {
        position: absolute;
        top: 35%;
        left: 25%;
        display: flex;
        align-items: flex-start;
        gap: 2rem;

        /* 左側溫度 + 縣市 + 降雨 */
        .temp-city {
            position: relative;
            left: 20px;
            display: flex;
            flex-direction: column;

            @media (max-width: 640px) {
                width: clamp(140px, 40vw, 110px); 
            }

            .temperature {
                font-weight: 700;
                font-size: clamp(2rem, 5vw, 3rem); 
                color: #64503C;

                @media (max-width: 640px) {
                    font-size: clamp(2rem, 10vw, 3rem); 
                }
            }

            .city-rain {
                display: flex;
                align-items: baseline;
                margin-top: 1vh;

                .city {
                    font-weight: 700;
                    font-size: clamp(1rem, 3vw, 1rem);
                    color: #64503C;
                }

                .rain-icon {
                    width: clamp(16px, 2vw, 16px);
                    height: auto;
                    transform: translate(5px, 2px); 

                }

                .rain-prob {
                    font-weight: 700;
                    font-size: clamp(1rem, 3vw, 1rem);
                    color: #64503C;
                    margin-left: 1vh;
                }
            }

            .right-text {
                font-size: clamp(1rem, 3vw, 1rem);
                font-weight: 700;
                color: #64503C;
                margin-top: 1vh;
            }
        }

        /* 右側日期時間 */
        .date-time {
            position: relative; 

            .date {
                font-weight: 700;
                font-size: clamp(1.5rem, 4vw, 1.5rem);
                color: #64503C;

                position: absolute;
                top: -20px;
                left: -20px;
                transform: rotate(5deg);
                transform-origin: left top;
            }
        }

    }
}


.info-tabs-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%;

    .info-tabs {
        display: flex;
        gap: 40px;
        position: relative;
    }

    .tab {
        padding: 5px 20px;
        font-size: 1.2rem;
        font-weight: 400;
        color: #64503C;
        cursor: pointer;
        transition: all 0.3s ease;

        &.active {
            font-size: 1.5rem;
            font-weight: 700;
            color: #64503C;
            border-bottom: 3px solid #b69f88;
        }

        .tab-icon {
            width: 24px;
            height: 24px;
        }

    }


    .tab-contents {
        margin-top: 20px;

        .tab-content {
            display: none;
            font-size: 16px;
            color: #64503C;

            &.show {
                display: block;
            }
        }
    }
}





.transport-section {
    width: 100vw; 
    margin: 0;
    padding: 0 10vw; 
    display: flex;
    justify-content: center;
}

.transport-container {
    width: 100%;
    max-width: none; 
    display: flex;
    gap: 5%;

    @media (max-width: 1024px) {
        flex-direction: column;
        align-items: center;
    }
}

.swiper-wrapper-relative {
    position: relative;
    width: 100%;
    overflow: visible; 
}

.card {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;

    
    .bg-icon {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
        filter: none; 
    }

    // 主圖
    .main-img {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 2;
        filter: brightness(0.7); 
        transition: filter 0.4s ease, transform 0.4s ease;
        transform: scale(0.9);
    }

    &:hover {
        .main-img {
            filter: brightness(1);
            transform: scale(1); 
        }
    }


}

.card,
.nearby-card {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;

    .bg-icon {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
        filter: none !important; 
    }

    .main-img {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 2;
        filter: brightness(0.7);
        transition: filter 0.4s ease, transform 0.4s ease;
        transform: scale(0.9);
    }

    &:hover {
        .main-img {
            filter: brightness(1);
            transform: scale(1);
        }
    }

    // 文字層
    .overlay-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        pointer-events: none;
        transition: all 0.3s ease;
    }

    &:hover .overlay-text {
        opacity: 0; 
    }
}



.arrow {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    cursor: pointer;
}

/* 美食小點箭頭 */
.food-prev {
    left: -55px;
}

.food-next {
    right: -55px;
}

/* 附近景點箭頭 */
.nearby-prev {
    left: -55px;
}

.nearby-next {
    right: -55px;
}

.surrounding-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    min-height: 45vh; 
    text-align: center;

    .section-title {
        font-size: 1.5rem;
        font-weight: 700;
        color: #64503C;
        margin-bottom: 20px;

    }

    .swiper-wrapper-relative {
        width: 100%;
    }

    .left-line {
        margin-right: 15px;
        transform: translateY(10px); 
    }


    .right-line {
        margin-left: 15px;
        transform: translateY(10px);
    }

    .line-path1 {
        stroke: #7DC5E4;
        stroke-width: 3; 
    }

    .line-path2 {
        stroke: #69C9A0;
        stroke-width: 3; 
    }

    /* 針對左右線條的 path 設定 */
    .line-path1,
    .line-path2 {
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        /* 初始完全隱藏 */
        animation: drawLine 2s forwards;
    }

    @keyframes drawLine {
        to {
            stroke-dashoffset: 0;
            /* 畫出線條 */
        }
    }

}


/* ------------------ 美食小點 Swiper ------------------ */
.food-swiper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 50px;

    .swiper {
        width: 100%;
        height: 250px; 
    }

    .swiper-slide {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 250px; 
            height: 250px;
            object-fit: cover;
            border-radius: 10px;
            filter: brightness(0.8);
        }
    }

    .swiper-pagination {
        bottom: 10px;

        .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
            background-color: #ccc;
            opacity: 0.7;
        }

        .swiper-pagination-bullet-active {
            background-color: #69C9A0;
            opacity: 1;
        }
    }

}

/* ------------------ 附近景點 Swiper ------------------ */
.nearby-swiper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 50px;

    .swiper {
        width: 100%;
        height: 250px; 
    }

    .swiper-slide {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 200px; 
            height: 280px;
            object-fit: cover;
            border-radius: 10px;
            filter: brightness(0.8);
        }
    }

    .swiper-pagination {
        bottom: 10px;

        .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
            background-color: #ccc;
            opacity: 0.7;
        }

        .swiper-pagination-bullet-active {
            background-color: #69C9A0;
            opacity: 1;
        }
    }
}

.nearby-swiper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;

    .nearby-card {
        position: relative;
        width: 90%; // Slide 寬度
        padding-top: 120%; // 高度比例 (保持長方形)
        cursor: pointer;
        overflow: visible;

        .bg-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 110%; // 比主圖大 5%
            height: auto;
            z-index: 0;
            object-fit: cover;
            border-radius: 10px;
        }

        .main-img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%; // 預設大小
            height: auto;
            z-index: 1;
            object-fit: cover;
            border-radius: 10px;
            filter: brightness(0.8);
            transition: all 0.3s ease;
        }

        .overlay-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            color: #fff;
            font-size: 20px;
            font-weight: 500;
            text-align: center;
            pointer-events: none;
            transition: all 0.3s ease;
        }

        &:hover {
            .main-img {
                width: 110%;
                filter: brightness(1); 
            }

            .overlay-text {
                opacity: 0; // 文字透明
            }
        }
    }
}



.transport-left,
.transport-right {
    flex: 1; // 左右等寬
}

.transport-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; // 內容靠上
    text-align: left;

    @media (max-width: 1024px) {
        padding: 20px;
    }
}

.transport-right {
    display: flex;
    justify-content: flex-end; // 地圖靠右

    iframe {
        width: 100%;
        height: 380px;
        border-radius: 12px;
    }

    @media (max-width: 1024px) {
        justify-content: center;
        width: 100%;
        max-width: none; 

        iframe {
            width: 85%; 
            max-width: 800px;
            height: 320px;
        }
    }
}

.transport-left {
    display: flex;
    flex-direction: column;
    gap: 50px; 

    .transport-item {
        display: flex;
        align-items: center;
        gap: 20px;

        img.icon {
            width: 100%;
            height: auto;
            max-width: 90px; 
            flex-shrink: 0;
        }

        .item-content {
            display: flex;
            align-items: center;
            gap: 30px;

            .text-block-0,
            .text-block-0,
            .text-block-1,
            .text-block-2 {
                display: flex;
                flex-direction: column;
                justify-content: center; 
                align-items: flex-start; 
                gap: 5px;

                .line1 {
                    font-weight: 700;
                    font-size: 1.2rem;
                    color: #64503C;
                }

                .line2 {
                    font-size: 1rem;
                    color: #64503C;
                }

                .line3 a {
                    font-size: 1rem;
                    color: #C075E3;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .divider {
                width: 2px;
                background-color: #64503C;
                height: 100%;
            }
        }
    }
}

/* =========================
   活動介紹 (activity-intro)
   ========================= */
.activity-intro {
    display: flex;
    flex-direction: column;


    width: 100vw;
    margin-left: calc(50% - 50vw); 


    .section-floral {
        width: 100%;
        height: 600px;
        background-color: #ffffff;
    }

    .section-highlight {
        width: 100%;
        height: 600px;
        background-color: rgba(210, 236, 255, 0.5); 
    }

    .section-extra-floral {
        width: 100%;
        height: 330px;
        background-color: rgba(214, 246, 220, 0.5); 
    }

    h3 {
        font-size: 1.5rem;
        font-weight: 700;
        color: #64503C;
        margin: 0;
        padding: 20px;
    }
}

/* ============ 花卉種類區塊 ============ */
.section-floral {
    position: relative;
    width: 100vw;
    height: 200vh;
    margin-left: calc(50% - 50vw);
    background: #fff;
    display: flex;
    flex-direction: column;

    /* 標題區 */
    .floral-header {
        display: flex;
        align-items: center;
        position: absolute;
        top: 1vh;
        right: 8vw;
        gap: 1rem;

        h3 {
            font-size: 1.5rem;
            font-weight: 700;
            color: #64503C;
            margin: 0;
        }

        .floral-icon {
            height: 10rem;
            width: auto;
        }

        .floral-header {
            display: flex;
            align-items: center;
            gap: 10px;
            position: relative;
        }

        .floral-line {
            stroke-dasharray: 200;
            stroke-dashoffset: 200;

            /* 初始隱藏 */
            animation: draw-line 12s linear infinite;
            /* 手繪濾鏡效果 */
            filter: url(#rough);
            transform: translate(150px, 50px);
            /* x向右 20px, y向下 10px */
        }

        @keyframes draw-line {
            0% {
                stroke-dashoffset: 500; // 初始完全隱藏
            }

            40% {
                stroke-dashoffset: 0; // 一次完整畫出
            }

            80% {
                stroke-dashoffset: 0; // 停留
            }

            100% {
                stroke-dashoffset: 500; // 消失
            }
        }

        .floral-line-right {
            position: absolute;
            top: 50%;
            right: -65px;
            transform: translateY(-50%);
        }

        .draw-line {
            stroke-dasharray: 500;
            stroke-dashoffset: 500;
            animation: draw 4s infinite alternate; // 2秒動畫
        }

        @keyframes draw {
            to {
                stroke-dashoffset: 0;
            }
        }


    }

    /* 花卉圖組 */


    .floral-gallery {

        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }






    .flower-group {
        display: flex;
        flex-direction: column;
        position: relative;
        transform: translate(0, 20px);


        .flower-stack {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 25rem; 

            .flower-bg {
                width: 20rem;
                height: auto;
                display: block;

            }

            .flower-main {
                position: absolute;
                width: 20rem;
                height: auto;



                transform: translate(10px, -10px); 
                transition: transform 0.5s ease, filter 0.5s ease;
            }

            &:hover .flower-main {
                transform: translateY(-50px) scale(1.05);
                filter: brightness(1.1); // 提亮
                transition: transform 0.5s ease, filter 0.5s ease; // 平滑動畫

            }
        }

        .flower-text {
            position: absolute; 
            top: 90%; 
            left: 55%;
            transform: translate(-50%, -50%);

            font-size: 1.5rem;
            font-weight: 700;

            &.a {
                color: #FF8457;
            }

            &.b {
                color: #69C9A0;
            }

            &.c {
                color: #FF61B0;
            }

            &.d {
                color: #9D47B9;
            }
        }
    }
}

/* ============ 活動亮點區塊 ============ */
.section-highlight {
    position: relative;
    width: 100vw;
    height: 600px;
    margin-left: calc(50% - 50vw);
    background: rgba(210, 236, 255, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    align-items: center; 



    .highlight-header {
        top: -50px;
        position: absolute;
        left: 150px;
        display: flex;
        align-items: center;
        gap: 5px;

        h3 {
            font-size: 1.5rem;
            font-weight: 700;
            color: #64503C;
            margin: 0;
        }

        .highlight-icon {
            height: 10rem;
            width: auto;
        }

        .highlight-line-left {
            position: absolute;
            width: 150px;
            height: 150px;
            top: -4vh; 
            left: -15%; 

            .draw-line {
                stroke-dasharray: 500;
                stroke-dashoffset: 500;
                animation: draw 2s infinite alternate;
            }
        }

        .highlight-line-right {
            position: absolute;
            top: -2vh; 
            right: 30%; 

            .draw-line {
                stroke-dasharray: 500;
                stroke-dashoffset: 500;
                animation: draw 2s infinite alternate;
            }
        }

        @keyframes draw {
            to {
                stroke-dashoffset: 0;
            }
        }
    }

    .highlight-gallery {
        overflow: visible; 
        display: flex;
        gap: 5vw;
        justify-content: flex-start;

    }

    .highlight-group {
        width: 320px;
        height: 320px;
        position: relative;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: visible;
        z-index: 1;
        transition: all 0.3s ease;

        .highlight-bg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%; 
            height: 100%;
            max-height: 100%; 
            object-fit: cover; 
            z-index: 0;
        }

        .highlight-image {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 90%; 
            height: 90%; 
            object-fit: contain;
            z-index: 1;
            transition: all 0.3s ease;
        }

        &:hover .highlight-image {
            width: 100%;
            height: auto;

        }

        .highlight-text {
            margin-top: 400px;
            font-size: 1.2rem;
            font-weight: 800;
            color: #64503C;
            text-align: center;
            z-index: 2;
            position: relative; 
        }
    }

    .highlight-track {
        display: flex;
        gap: 5vw;
        animation: scrollLeft 150s linear infinite;

    }

    .highlight-gallery:hover .highlight-track {
        animation-play-state: paused;
    }

    @keyframes scrollLeft {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-50%);
        }

    }







}



.contact-section {
    width: 100%;
    padding: 0 5vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 300px; // 可依需求調整整個區塊高度
    background-color: rgba(214, 246, 220, 0.5);
    ;

    .social-icons {
        margin-top: 2vh;
        display: flex;
        justify-content: center;
        gap: 2vw;
        position: absolute;
        top: 20%; // 往下調整到畫面中間偏上
        left: 50%;
        transform: translateX(-50%);
        // z-index: 3;

        img {
            width: 40px;
            height: 40px;
            cursor: pointer;
        }
    }

    .contact-header {
        display: flex;
        align-items: center;
        gap: 5px;
        position: absolute;
        right: 5vw; // 靠右
        top: -50px;
        // z-index:3;

        h2 {
            font-size: 1.5rem;
            font-weight: 700;
            color: #64503C;
            margin: 0;
        }

        .phone-icon {
            height: 10rem;
            width: auto;
        }

        .contact-line-1 {
            position: absolute;
            top: 3vh; // Point 上方
            left: 55%; // 可以自由調整左邊距

            .draw-line {
                stroke-dasharray: 500;
                stroke-dashoffset: 500;
                animation: draw 2s infinite alternate;
            }
        }

        .contact-line-2 {
            position: absolute;
            top: 5vh; // Point 上方
            right: 15%; // 可以自由調整右邊距

            .draw-line {
                stroke-dasharray: 500;
                stroke-dashoffset: 500;
                animation: draw 2s infinite alternate;
            }
        }

        .contact-line-3 {
            position: absolute;
            top: 7vh; // Point 上方
            left: 70%; // 可以自由調整左邊距

            .draw-line {
                stroke-dasharray: 500;
                stroke-dashoffset: 500;
                animation: draw 2s infinite alternate;
            }
        }

        @keyframes draw {
            to {
                stroke-dashoffset: 0;
            }
        }
    }

    .contact-info {
        margin-top: 10vh;
        display: flex;
        flex-direction: row;
        gap: 10vw;
        justify-content: center;
        align-items: center; // 整個區塊垂直置中

        .contact-item {
            display: flex;
            flex-direction: column;
            justify-content: center; // 垂直置中
            align-items: center; // 水平置中
            height: 100%;
            gap: 5px;

            .title {
                font-size: 1.25rem;
                font-weight: 700;
                color: #64503C;
                margin: 0;
            }

            .value {
                font-size: 1rem;
                color: #64503C;
                margin: 0;
            }
        }

    }
}

.arrow[disabled] {
    opacity: 0.3;
    cursor: not-allowed;
}


// gotop infotop
.infotop {
    bottom: 70px;
}