.hero {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    height: auto;

    .heroFlower {
        position: relative;
        width: 50%;
        height: auto;

        @media (max-width:830px) {
            width: 80%;
        }

        svg {
            width: 100%;
            height: auto;
        }

        // 花拿會無法撐開空間，所以將花透明度設為0
        .bigFlower {
            opacity: 0;
        }

        // 合體版本
        .t {
            position: absolute;
            z-index: -1;
            transition: all 1.5s ease-out; // 進場動畫設定  

            &.t2l {
                bottom: 3%;
                left: -5%;
                width: 60%;
                transform: rotate(70deg);
            }

            &.t3l {
                bottom: 15%;
                left: 1%;
                width: 60%;
                transform: rotate(170deg);
            }

            &.t3r {
                bottom: 20%;
                right: 2%;
                width: 65%;
                transform: rotate(-0deg);
            }

            &.t12 {
                top: 0%;
                left: 2%;
                width: 55%;
                transform: rotate(10deg);
            }

            &.t2r {
                top: -10%;
                right: 5%;
                width: 60%;
                transform: rotate(-140deg);
            }

            &.t6 {
                top: -18%;
                right: 12%;
                width: 55%;
                transform: rotate(0deg);
            }

            &.t9 {
                bottom: 10%;
                right: 6%;
                width: 55%;
                transform: rotate(-115deg);
            }

            &.t7 {
                bottom: 0%;
                right: 0%;
                width: 55%;
                transform: rotate(-5deg);
                animation: shake2 3s infinite ease-in-out;
            }

            &.t10 {
                top: 25%;
                left: -1%;
                width: 45%;
                transform: rotate(35deg);
            }

            &.t4u {
                top: -3%;
                left: 15%;
                width: 50%;
                transform: rotate(150deg);
            }

            &.t4d {
                bottom: 3%;
                left: 20%;
                width: 55%;
                transform: rotate(-1deg);

            }

            &.t5 {
                top: -10%;
                right: 17%;
                width: 55%;
                transform: rotate(5deg);
            }

            &.t8d {
                bottom: 28%;
                left: 30%;
                width: 30%;
                transform: rotate(75deg);
            }

            &.t8l {
                bottom: 45%;
                left: 22%;
                width: 30%;
                transform: rotate(180deg);

            }

            &.t8u {
                top: 18%;
                left: 38%;
                width: 30%;
                transform: rotate(-75deg);
            }

            &.t8r {
                top: 35%;
                left: 40%;
                width: 30%;
                transform: rotate(0deg);
            }

            &.t11 {
                top: 5%;
                left: -8%;
                width: 50%;
                transform: rotate(0deg);
                animation: shake2 5s infinite ease-in-out;
            }

            // 花瓣中心
            &.tcenter {
                top: 18%;
                left: 35%;
                width: 25%;
                transform: rotate(10deg);
                opacity: 1;
                transition-delay: 2s;
                animation: shake2 4s infinite ease-in-out;
            }

            &.tc1 {
                top: 25%;
                left: 35%;
                width: 20%;
                transform: rotate(0deg);
                opacity: 1;
                transition-delay: 2.2s;
            }

            &.tc2 {
                top: 15%;
                left: 40%;
                width: 20%;
                transform: rotate(0deg);
                opacity: 1;
                transition-delay: 2.4s;
            }

            &.tc3 {
                top: 25%;
                left: 45%;
                width: 20%;
                transform: rotate(0deg);
                opacity: 1;
                transition-delay: 2.5s;
            }

            &.tc4 {
                top: 25%;
                left: 55%;
                width: 20%;
                transform: rotate(0deg);
                opacity: 1;
                transition-delay: 2.6s;
            }

            &.tc5 {
                top: 35%;
                left: 55%;
                width: 20%;
                transform: rotate(0deg);
                opacity: 1;
                transition-delay: 2.7s;
            }

        }

        // 四散版本
        .t {
            &.scatter {
                &.t2l {
                    bottom: 0%;
                    left: -40%;
                    width: 40%;
                    transform: rotate(50deg);
                }

                &.t3l {
                    bottom: -10%;
                    left: 0%;
                    width: 40%;
                    transform: rotate(100deg);
                }

                &.t3r {
                    bottom: 0%;
                    right: -30%;
                    width: 45%;
                    transform: rotate(30deg);
                }

                &.t12 {
                    top: -20%;
                    left: -50%;
                    width: 35%;
                    transform: rotate(10deg);
                }

                &.t2r {
                    top: 0%;
                    right: -50%;
                    width: 60%;
                    transform: rotate(-120deg);
                }

                &.t6 {
                    top: -18%;
                    right: -40%;
                    width: 35%;
                    transform: rotate(0deg);
                }

                &.t9 {
                    bottom: 0%;
                    right: 0%;
                    width: 35%;
                    transform: rotate(-15deg);
                }

                &.t7 {
                    bottom: 0%;
                    right: 10%;
                    width: 55%;
                    transform: rotate(-5deg);
                }

                &.t10 {
                    top: 25%;
                    left: -35%;
                    width: 35%;
                    transform: rotate(5deg);
                }

                &.t4u {
                    top: -15%;
                    left: 0%;
                    width: 50%;
                    transform: rotate(100deg);
                }

                &.t4d {
                    bottom: 0%;
                    left: 20%;
                    width: 35%;
                    transform: rotate(30deg);
                }

                &.t5 {
                    top: 0%;
                    right: -30%;
                    width: 35%;
                    transform: rotate(0deg);
                }

                &.t8d {
                    bottom: 20%;
                    left: 0%;
                    width: 30%;
                    transform: rotate(75deg);
                }

                &.t8l {
                    bottom: 60%;
                    left: 0%;
                    width: 30%;
                    transform: rotate(180deg);
                }

                &.t8u {
                    top: 0%;
                    left: 70%;
                    width: 30%;
                    transform: rotate(-45deg);
                }

                &.t8r {
                    top: 35%;
                    left: 90%;
                    width: 30%;
                    transform: rotate(0deg);
                }

                &.t11 {
                    top: 0%;
                    left: -30%;
                    width: 50%;
                    transform: rotate(0deg);
                }

                &.tcenter {
                    opacity: 0;
                }

                &.tc1 {
                    opacity: 0;
                }

                &.tc2 {
                    opacity: 0;
                }

                &.tc3 {
                    opacity: 0;
                }

                &.tc4 {
                    opacity: 0;
                }

                &.tc5 {
                    opacity: 0;
                }
            }
        }
    }
}