@use 'reset';
@use 'base' as *;
@use 'layout' as *;


.map-inner {
    display: flex;
    padding: 0 100px;
    justify-content: space-between;

    h2 {
        font-size: 2.5rem;
    }

    .map-search {
        display: flex;
        flex-direction: column;
        width: 50%;

        .map-select {
            display: flex;            
            margin: 0 auto;

            .map-season {
                display: flex;
                
                .map-four {
                    width: 300px;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);

                    img {
                        width: 100%;
                        padding: 10px;
                    }
                } 
                

            }
        }

    }

    .map-event {
        
        .map-cardWarp {
            background-image: url('../images/花卉地圖-賞花活動-底圖-藍.svg'); 
            padding: 60px;
        }
        .map-lable {
            justify-content: center;
            width: 65px;
            height: 65px;
            background-color: #67a8dd;
            border-radius: 99px;
            padding: 15px;
        }
        .map-date {

            background-color: #67a8dd;
        }
    }


}