@use 'reset';
@use 'base' as *;
@use 'layout' as *;

* {
//    outline: 1px solid red;
}

.map-inner {
    display: flex;
    padding: 0 50px;
    gap: 20px;
    // height: 100vh;

    h2 {
        font-size: 1.5rem;
        font-weight: 700;
        text-align: center;
        padding-top: 10px;
    }

    .map-search {
        display: flex;
        flex-direction: column;
        width: 100%;

        .map-selectAll {
            display: flex;
            margin-top: 20px;
            padding-left: 40px;

            >* {
                padding: 5px 15px;
            }

            .map-select {
                display: flex;
                margin: auto 0;
                gap: 20px;

                select {
                    width: 80px;
                    padding: 10px 0;
                    border-radius: 5px;
                    text-align: center;
                }

            }

            .map-season {
                display: flex;

                img {
                    width: 80px;

                }

                .map-four {
                    width: 120px;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);

                    img {
                        width: 100%;
                        padding: 5px;
                    }
                }


            }
        }

        .map-map {
            background-image: url('../images/map-bc-y.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            display: flex;
            height: 450px;

            iframe {
                padding: 40px 45px;
                width: 100%;
            }
        }

    }

    .map-event {
        width: 100%;

        .map-cardWarp {
            background-image: url('../images/花卉地圖-賞花活動-底圖-藍.svg');
            background-repeat: no-repeat;
            margin-top: 20px;
            padding: 50px 20px 50px 40px;
            display: flex;
            flex-wrap: wrap;
            grid-template-columns: repeat(2, 1fr);

            // @media (max-width: 1240px) {
            //     grid-template-columns: repeat(1, 1fr);
            // }

            .map-card {
                // display: inline-block;
                width: 250px;

                .map-lable {
                    position: absolute;
                    width: 65px;
                    z-index: 2;
                }

                .map-img {
                    position: relative;
                    width: 250px;
                    padding: 20px;
                    object-fit: cover;
                }

                .map-date {
                    position: relative;
                    width: 60%;
                    bottom: 60px;
                    z-index: 2;
                    padding: 0 20px;
                }

                .map-title {
                    position: relative;
                    padding: 0 20px;
                    bottom: 40px;
                }
            }

        }

        .map-lable {
            width: 65px;
            height: 65px;
            background-color: #67a8dd;
            border-radius: 99px;
            padding: 15px;
            text-align: center;
        }

        .map-date {

            background-color: #67a8dd;
        }
    }


}