@use 'reset';
@use './variables/' as *;

.map-inner {
    display: flex;
    padding: 0 100px;
    gap: 20px;
    height: 100vh;

    @media (max-width:1000px) {
        flex-direction: column;
    }

    h2 {
        font-size: 1.5rem;
        font-weight: 700;
        text-align: center;
        padding-top: 10px;
        color: #64503C;
        margin: 30px auto;
    }

    .map-search {
        display: flex;
        flex-direction: column;
        width: 100%;

        .map-selectAll {
            display: flex;
            margin-top: 20px;
            justify-content: center;

            @media (max-width: 600px) {
                flex-direction: column;
                justify-content: center;
            }


            >* {
                padding: 5px 15px;
            }

            .map-select {
                display: flex;
                margin: auto 0;
                gap: 20px;

                select {
                    width: 80px;
                    padding: 10px 0;
                    border-radius: 5px;
                    text-align: center;
                }

            }

            .map-season {
                display: flex;

                img {
                    width: 80px;
                }

                .map-four {
                    width: 120px;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);

                    img {
                        width: 100%;
                        padding: 5px;
                    }
                }
            }
        }

        .map-map {
            background-image: url('../images/map/map-bc-y.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            display: flex;
            height: 450px;
            justify-content: center;

            iframe {
                display: block;
                padding: 40px 45px;
                width: 100%;
                max-width: 600px;
                height: 450px;


            }
        }

    }

    .map-event {
        width: 100%;
        display: flex;
        flex-direction: column;

        .map-e-title {
            position: relative;

            &::before {
                content: "";
                display: inline-block;
                background-image: url('../images/map/map-deline2.png'),
                    url('../images/map/map-deline1.png');
                background-repeat: no-repeat;
                position: absolute;
                background-position: left center, right center;
                width: 50%;
                height: 75px;
                right: 25%;
                top: 15%;

                @media (max-width:1420px) {
                    width: 60%;
                    right: 20%;
                }
                @media (max-width:1250px) {
                    width: 80%;
                    right: 5%;
                }
            }

        }

        .map-cardWarp {
            background-image: url('../images/map/map-bgblue.webp');
            background-repeat: no-repeat;
            margin: auto;
            margin-top: 20px;
            padding: 30px 20px 0 40px;
            display: flex;
            flex-wrap: wrap;
            max-width: 600px;
            width: 100%;
            height: 600px;
            overflow: auto;

            &::-webkit-scrollbar {
                background-color: #bae6ff;
                width: 12px;
                border-radius: 999px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #FF8457;
                border-radius: 999px;
            }


            @media (max-width:1380px) {
                justify-content: center;
            }

            @media (max-width:1000px) {
                max-width: 600px;
            }

            .map-card {
                // display: inline-block;
                width: 250px;
                position: relative;

                .map-lable {
                    position: absolute;
                    width: 65px;
                    height: 65px;
                    line-height: 65px;
                    z-index: 2;
                    background-color: #7DC5E4;
                    border-radius: 99px;
                    text-align: center;
                    color: #fff;
                }

                .map-img {
                    position: relative;
                    height: 225px;
                    padding: 20px;
                    object-fit: cover;
                }

                .map-date {
                    position: relative;
                    width: 60%;
                    height: 25px;
                    bottom: 60px;
                    z-index: 2;
                    padding: 0 20px;
                    background-color: #69C9A0;
                    color: #fff;
                }

                .map-title {
                    position: relative;
                    padding: 0 20px;
                    bottom: 40px;
                    color: #64503C;
                    font-size: 1rem;
                    font-weight: 500;
                }
            }

        }
    }


}