@use 'reset';
@use './variables/' as *;

.newsBanner {
    display: flex;
    margin-top: 20px;

    .bannerswiper {
        width: 80%;
        height: 30vh;
        overflow: hidden;
        margin: 0 auto;

        .swiper {
            margin: 0 auto;
            width: 100%;
            height: 100%;
        }

        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }

        .swiper-pagination-bullet {
            background: #ffffff;
            opacity: 1;
            width: 12px;
            height: 12px;
            margin: 0 6px;
            border-radius: 50%;

            &-active {
                background: #5cc8f3;/* 當前顏色 */
                width: 16px;
                height: 16px;
            }
        }



    }

}

.news-content {
    display: flex;
    width: 70%;
    margin: 30px auto;

    .news-news {
        width: 80%;
        margin: 10px;

        h2 {
            font-size: 1.5rem;
            font-weight: 700;
            padding-top: 10px;
            padding-left: 80px;
            position: relative;


            &::before {
                content: "";
                background-image: url('../images/news/newsde1.svg');
                display: inline-block;
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                width: 85px;
                height: 80px;
                top: 5px;
                left: 0;

            }
        }

        .news-select {
            padding-left: 80px;
            margin: 5px 0;

            select {
                padding: 2px;
                border-radius: 5px;
                text-align: center;
            }

        }

        .news-CardWarp {
            display: flex;
            flex-wrap: wrap;

            @media (max-width:1200px) {
                justify-content: center;

            }


            .news-Card {
                display: block;
                flex-direction: column;
                justify-content: space-between;
                width: 30%;
                margin: 10px;
                padding: 10px 20px;
                border: 1px solid rgba(85, 85, 85, 0.373);
                border-radius: 3px;

                .news-labledate {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 5px;

                    .news-lable {
                        background-color: rgb(248, 198, 133);
                        padding: 1px 15px;
                    }
                }

                .news-cardTitle {
                    padding-left: 10px;
                }

                .news-img {
                    width: 100%;
                    padding: 10px;
                }
            }
        }

        .news-page {
            text-align: center;
        }
    }

    .news-discount {
        display: flex;
        flex-direction: column;
        width: 20%;
        margin: 25px 10px;

        h2 {
            font-size: 1.5rem;
            font-weight: 700;
            text-align: center;
            padding-top: 10px;
        }

        img {
            width: 100%;
            height: 100px;
            object-fit: cover;
            margin: 10px 0;
        }
    }

}