@use 'reset';
@use './variables/' as *;

// * {
//     outline: 1px solid red;
// }



#story {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px 50px;
    overflow: hidden;
    position: relative;
    min-height: calc(100vh - 5rem - 72px);
    // min-height: 770px;

    @media (max-width:1024px) {
        min-height: 800px;
    }

    @media (max-width:820px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 30px 0;
    }

    // 左側 menu
    .sleft {
        text-align: center;
        position: relative;

        .sbook {
            position: absolute;
            top: -120px;
            left: 0px;
            width: 150px;
            
            @media (max-width:1440px) {
                top: -85px;
                left: 35px;
                z-index: -1;
            }

            @media (max-width:1200px) {
                top: -95px;
                left: 35px;
            }
        }

        .h-btn-news {
            margin-top: 30px;

            .circle {
                background: $sky-blue;
            }

            @media (max-width:1200px) {
                margin: 0;
            }
        }

        @media (max-width:1200px) {
            position: fixed;
            z-index: 5;
            top: 150px;
            left: 0;
            background-color: var(--bgColor);
            border-radius: 8px;
            padding: 20px 10px 20px 0;
            opacity: 0;
            transform: translateX(-100%);
            transition: opacity 0.5s ease, transform 0.5s ease;
            // clip-path: polygon(85% 1%, 97% 16%, 90% 97%, 21% 99%, 0 94%, 0 0);
            box-shadow: 1px 1px 10px $brown-70;

        }

        &.show {
            opacity: 1;
            transform: translateX(0);
        }


        .sList {
            position: relative;
            max-width: 200px;
            min-width: 200px;
            padding: 30px;
            clip-path: polygon(8% 0, 88% 0, 100% 10%, 100% 95%, 90% 100%, 8% 100%, 0% 95%, 0 10%);
            background-color: var(--bgColor);


            .sother {
                position: absolute;
                top: -80px;
                left: 50px;
            }

            .sMenu {
                ul {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    background-color: $white;

                    li {
                        color: $brown-100;
                        display: block;
                        padding: 10px;
                        cursor: pointer;
                        z-index: 1;
                        transition: color 0.3s ease;

                        &:hover {
                            color: $grass-green;
                        }

                        &.selected {
                            color: $grass-green;
                        }
                    }
                }

            }
        }

        .tape {
            position: absolute;
            width: 60px;
            top: 5px;
            right: 0px;
        }

        .btn-play {
            display: inline-block;
            color: $brown-100;
            padding: 8px 16px;
            border-radius: 8px;
            font-size: 1.25rem;
            letter-spacing: 10%;
            margin-top: 10px;

            &:hover {
                background-color: $brown-100;
                color: $white;
            }
        }
    }


    .sContent-wrap {
        position: relative;


        .sContent {
            position: relative;
            max-width: 500px;
            min-width: 420px;
            width: 40%;
            margin: 0 auto;

            .sflowerName {
                padding-left: 60px;
                margin-bottom: 30px;
                position: relative;


                .tape2 {
                    position: absolute;
                    height: 120px;
                    width: 20px;
                    top: -20px;
                    left: 30px;
                    transform: rotate(5deg);
                }

                .tag1 {
                    position: absolute;
                    z-index: -4;
                    top: -30px;
                    right: -10%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    color: $brown-100;
                    font-size: 2rem;
                    width: 100px;
                    height: 100px;
                    background-size: cover;

                    @media (max-width:550px) {
                        z-index: 1;
                        top: 0px;
                        right: 5%;
                    }

                }

                .tag2 {
                    position: absolute;
                    z-index: -1;
                    top: 50px;
                    right: -12%;


                    display: flex;
                    justify-content: center;
                    align-items: center;

                    color: $brown-100;
                    font-size: 1.5rem;
                    width: 50px;
                    height: 50px;
                    background-size: cover;

                    @media (max-width:550px) {
                        z-index: 1;
                        top: 90px;
                        right: 5%;
                    }
                }



                h2 {
                    margin-bottom: 10px;
                }
            }

            .sflowerIntro {
                padding: 20px 30px 30px;
                background: $spring-yellow;
                clip-path: polygon(8% 0, 88% 0, 100% 10%, 100% 95%, 90% 100%, 8% 100%, 0% 95%, 0 10%);

                .sclass {
                    display: flex;
                    gap: 30px;
                    margin-bottom: 10px;

                    .classtxt {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        color: $brown-100;

                        .family,
                        .genus {
                            color: $brown-100;
                            font-size: 1.5rem;
                            border: 2px solid $brown-100;
                            border-radius: 999px;
                            padding: 5px 10px;
                            background-color: $white;
                        }
                    }

                }

                .introtxt {
                    color: $brown-100;
                    background-color: #fff;
                    padding: 10px;
                    // 將/n轉換為換行
                    white-space: pre-wrap;
                }
            }
        }


        // 裝飾物品
        .sbutterfly {
            position: absolute;
            transform: rotate(30deg);
            animation: fade-in .75s ease-in forwards;
            animation-delay: 2.5s;
            opacity: 0;
            z-index: 1;

        }

        .sline {
            position: absolute;
            bottom: -45px;
            left: 120px;
            animation: draw 3s linear forwards;
            transform: scaleX(-1);
            stroke-dasharray: 1;
            stroke-dashoffset: 1; //動畫：變成stroke-dashoffset: 0;
        }
    }



    .sImg {
        position: relative;
        width: 30%;
        min-width: 400px;

        img {
            clip-path: circle();
        }

        .circletxt {
            position: absolute;
            width: 180%;
            top: -40%;
            right: -120%;
            animation: circle 60s linear infinite;
            z-index: -1;

            @media (max-width:820px) {
                width: 250%;
                left: -75%;
                top: 10%;
            }
        }
    }


    .sMenuBtn {
        position: fixed;
        z-index: 50;
        // width: 50px;
        height: 50px;
        background: #FF8457;
        padding: .5rem 1.5rem .5rem 1rem;
        color: #fff;
        left: -8px;
        top: 100px;
        transition: all .3s ease;
        clip-path: polygon(0% 0%, 100% 0, 87% 50%, 100% 100%, 0% 100%);

        &:hover {
            transform: rotate(-10deg);
        }

        @media (min-width:1201px) {
            display: none;
        }
    }
}