@use 'reset';
@use './variables/' as *;


* {
    // outline: 1px solid red;
}

.wall-c-inner {
    display: flex;
    width: 100%;
    gap: 50px;

    .wall-c-title {
        flex: 1;
        width: 100%;
        max-width: 700px;
        padding: 15% 0 6% 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2 {
            font-size: 1.5rem;
            font-weight: 700;
        }

        p {
            text-align: justify;
            margin-top: 20px;
        }

        button {
            color: brown;
            padding: 10px 20px;
            margin: 20px 0;
            border: 2px solid #5e0e0e;
            border-radius: 999px;
            background-color: #fff;

        }
    }

    .wall-c-photo {
        flex: 1;
        background-image: url("../images/wall/wall-champion-bg.svg");
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;

        figure {
            width: 80%;
            /* 用百分比，隨螢幕縮放 */
            max-width: 500px;

            img {
                width: 100%;
            }
        }

    }

}

.wall-v-inner {

    .wall-v-title {
        font-size: 1.5rem;
        font-weight: 700;
        text-align: center;
    }
}