@use '../variables/color' as *;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*統一設定*/
// 字形設定
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
    font-weight: 500;
    line-height: 1.5;
    user-select: none;
}


img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

a {
    display: block;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
    color: $brown-100;
    cursor: default;
}

h2 {
    font-weight: 700;
    font-size: 2rem;
}

h3 {
    font-weight: 600;
    font-size: 1.5rem;
}

h4 {
    font-weight: 600;
    font-size: 1rem;
}


// 按鈕共用設定
button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;

    // 跳轉按鈕
    &.h-btn-news {
        width: 10rem;
        height: auto;

        .circle {
            transition: all 0.45s cubic-bezier(0.65, 0, .076, 1);
            position: relative;
            display: block;
            margin: 0;
            width: 3rem;
            height: 3rem;
            background: #69C9A0;
            border-radius: 99px;

            .icon {
                transition: all 0.45s cubic-bezier(0.65, 0, .076, 1);
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                background: #fff;

                &.arrow {
                    transition: all 0.45s cubic-bezier(0.65, 0, .076, 1);
                    left: 0.625rem;
                    width: 1.125rem;
                    height: 0.125rem;
                    background: none;

                    &::before {
                        position: absolute;
                        content: '';
                        top: -0.25rem;
                        right: 0.0625rem;
                        width: 0.625rem;
                        height: 0.625rem;
                        border-top: 0.125rem solid #fff;
                        border-right: 0.125rem solid #fff;
                        transform: rotate(45deg);
                    }
                }
            }
        }

        .btn-text {
            transition: all 0.45s cubic-bezier(0.65, 0, .076, 1);
            position: absolute;
            top: 0px;
            left: 0;
            right: 0;
            padding: 12px;
            margin-left: 24px;
            color: #64503C;
            font-weight: 400;
            line-height: 1.6;
            text-align: center;
            letter-spacing: 2px;

        }

        &:hover {
            .circle {
                width: 100%;

                .icon {
                    &.arrow {
                        background: #fff;
                        transform: translate(1rem, 0);
                    }
                }
            }

            .btn-text {
                color: #fff;
            }
        }
    }

    // gotop按鈕
    &.gotop {
        width: 10rem;
        height: auto;
        // margin-top: 30px;
        transform: rotate(-90deg);
        display: flex;
        justify-self: flex-end;
        z-index: 2;

        .circle {
            transition: all 0.45s cubic-bezier(0.65, 0, .076, 1);
            position: relative;
            display: block;
            margin: 0;
            width: 3rem;
            height: 3rem;
            background: #FF8457;
            border-radius: 99px;

            .icon {
                transition: all 0.45s cubic-bezier(0.65, 0, .076, 1);
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                background: #fff;

                &.arrow {
                    transition: all 0.45s cubic-bezier(0.65, 0, .076, 1);
                    left: 0.625rem;
                    width: 1.125rem;
                    height: 0.125rem;
                    background: none;

                    &::before {
                        position: absolute;
                        content: '';
                        top: -0.25rem;
                        right: 0.0625rem;
                        width: 0.625rem;
                        height: 0.625rem;
                        border-top: 0.125rem solid #fff;
                        border-right: 0.125rem solid #fff;
                        transform: rotate(45deg);
                    }
                }
            }

        }

        .btn-text {
            transition: all 0.45s cubic-bezier(0.65, 0, .076, 1);
            position: absolute;
            top: 0;
            left: 0;
            right: 50px;
            padding: 12px;
            margin-left: 24px;
            color: #64503C;
            font-weight: 400;
            line-height: 1.6;
            text-align: center;
            letter-spacing: 2px;
            transform: rotate(90deg);
        }


        &:hover {
            .circle {
                width: 4rem;

                .icon {
                    &.arrow {
                        background: #fff;
                        transform: translate(1rem, 0);
                    }
                }
            }

            .btn-text {
                opacity: 0;

            }

        }
    }

}