@use './color' as *;
@use './keyframe' as *;


*{
    outline: 1px red solid;
}

/* header區 */
header {
    z-index: 2;
    width: 100%;


    .hamburger {
        position:fixed;
        top: 0;
        right: 0;
        z-index: 99;
        margin: 20px;
        background-color: transparent;
        border: none;

        @media (min-width:831px) {
            display: none;
        }

        .bar {
            display: block;
            width: 24px;
            height: 3px;
            background-color: $brown-100;
            margin: 5px auto;
            transition: 0.35s;
        }

        &.is-active {
            .bar {
                &:nth-child(1) {
                    transform: rotate(45deg) translate(5px, 6px);
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:nth-child(3) {
                    transform: rotate(-45deg) translate(5px, -6px);
                }
            }
        }

    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 30px;
        font-weight: 700;
        font-size: 20px;
        padding: 20px 20px;

        @media (max-width:830px) {
            position: fixed;
            z-index: 4;
            top: 0;
            right: 0;
            background-color: #FFF4CA;
            flex-direction: column;
            gap: 30px;
            width: 200px;
            height: 100%;
            opacity: 0;
            transform: translateX(100%);
            transition: opacity 0.5s ease, transform 0.5s ease;
        }

        &.show {
            opacity: 1;
            transform: translateX(0);
        }

        li a {
            color: $brown-100;
            transition: color 0.2s linear;
        }

        svg {
            display: block;
            margin-top: -10px;
            /* 控制 svg 與文字的距離 */
        }

        .nav-logo {
            position: absolute;
            left: 10%;

            @media (max-width: 1200px) {
                left: 3%;
            }

            @media (max-width: 830px) {
                left: 25%;
                top: 7%;
            }

            img {
                width: 100px;
                height: auto;
                object-fit: cover;
            }
        }

        .nav-blue {
            display: inline-block;
            position: relative;
            flex-direction: column;

            .t {
                color: #7DC5E4;
                display: inline;
            }

            a {
                &:hover {
                    color: #7DC5E4;
                }
            }

            &:hover,
            &.active {
                color: #7DC5E4;

                .line {
                    animation: draw .5s linear forwards;
                }
            }

            // svg線條動畫
            .line {
                width: 103px;
                height: 12px;
                fill: none;
                stroke: #69C9A0;
                stroke-width: 2;
                stroke-linecap: round;
                vector-effect: non-scaling-stroke;
                stroke-dasharray: 1;
                /* 1 = 線條總長度 */
                stroke-dashoffset: 1;
                /* 初始值 = 完全隱藏 */
            }
        }

        .nav-pink {
            display: inline-block;
            position: relative;
            flex-direction: column;

            .t {
                color: #FFA8B5;
                display: inline;
            }

            a {
                &:hover {
                    color: #FFA8B5;
                }
            }

            &:hover,
            &.active {
                color: #FFA8B5;

                .line {
                    animation: draw .5s linear forwards;
                }
            }

            // svg線條動畫
            .line {
                width: 102px;
                height: 16px;
                fill: none;
                stroke: #7DC5E4;
                stroke-width: 2;
                stroke-linecap: round;
                vector-effect: non-scaling-stroke;
                stroke-dasharray: 1;
                /* 1 = 線條總長度 */
                stroke-dashoffset: 1;
                /* 初始值 = 完全隱藏 */
            }
        }

        .nav-orange {
            display: inline-block;
            position: relative;
            flex-direction: column;

            .t {
                color: #FF8457;
                display: inline;
            }

            a {
                &:hover {
                    color: #FF8457;
                }
            }

            &:hover,
            &.active {
                color: #FF8457;

                .line {
                    animation: draw .5s linear forwards;
                }
            }

            // svg線條動畫
            .line {
                width: 102px;
                height: 15px;
                fill: none;
                stroke: #FF61B0;
                stroke-width: 2;
                stroke-linecap: round;
                vector-effect: non-scaling-stroke;
                stroke-dasharray: 1;
                /* 1 = 線條總長度 */
                stroke-dashoffset: 1;
                /* 初始值 = 完全隱藏 */
            }
        }

        .nav-green {
            display: inline-block;
            position: relative;
            flex-direction: column;

            .t {
                color: #69C9A0;
                display: inline;
            }

            a {
                &:hover {
                    color: #69C9A0;
                }
            }

            &:hover,
            &.active {
                color: #69C9A0;

                .line {
                    animation: draw .5s linear forwards;
                }
            }

            // svg線條動畫
            .line {
                width: 102px;
                height: 15px;
                fill: none;
                stroke: #C075E3;
                stroke-width: 2;
                stroke-linecap: round;
                vector-effect: non-scaling-stroke;
                stroke-dasharray: 1;
                /* 1 = 線條總長度 */
                stroke-dashoffset: 1;
                /* 初始值 = 完全隱藏 */
            }
        }

        .nav-purple {
            display: inline-block;
            position: relative;
            flex-direction: column;

            .t {
                color: #C075E3;
                display: inline;
            }

            a {
                &:hover {
                    color: #C075E3;
                }
            }

            &:hover,
            &.active {
                color: #C075E3;

                .line {
                    animation: draw .5s linear forwards;
                }
            }

            // svg線條動畫
            .line {
                width: 102px;
                height: 15px;
                fill: none;
                stroke: #FFD700;
                stroke-width: 2;
                stroke-linecap: round;
                vector-effect: non-scaling-stroke;
                stroke-dasharray: 1;
                /* 1 = 線條總長度 */
                stroke-dashoffset: 1;
                /* 初始值 = 完全隱藏 */
            }
        }
    }



}

@keyframes draw {

    /* 從隱藏開始 */
    to {
        stroke-dashoffset: 0;
    }
}


/* 頁尾區 */
footer {
    // background-color: #fcfbd0;
    width: 100%;
    display: flex;
    height: 5rem;
    justify-content: center;
    align-items: flex-end;
    color: #64503C;
    position: relative;

    .txt {
        padding-bottom: 0.5rem;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // background-image: url('../images/map/map-bc-y.svg');
        z-index: -3;
        pointer-events: none;
        clip-path: polygon(86% 22%, 100% 66%, 100% 100%, 0 100%, 0 57%);
        background-color: #FFF4CA;
    }

}