@use './color' as *;
@use './keyframe' as *;


/* header區 */
header {
    z-index: 2;
    width: 100%;


    .hamburger {
        position: fixed;
        right: 0;
        z-index: 5;
        margin: 20px;
        background-color: transparent;
        border: none;

         @media (min-width:830px) {
            display: none;
         }

        .bar {
            display: block;
            width: 24px;
            height: 3px;
            background-color: #333;
            margin: 5px auto;
            transition: 0.35s;
        }

        &.is-active {
            .bar {
                &:nth-child(1) {
                    transform: rotate(45deg) translate(5px, 6px);
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:nth-child(3) {
                    transform: rotate(-45deg) translate(5px, -6px);
                }
            }
        }

    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 30px;
        font-weight: 700;
        font-size: 20px;
        padding: 20px 20px;



        @media (max-width:831px) {
            position: fixed;
            z-index: 4;
            right: 0;
            background-color: #FFF4CA;
            flex-direction: column;
            gap: 30px;
            width: 200px;
            height: 100%;
            // 起初不顯示
            display: none;
            animation: hide 1s both;
        }


        &.show {
            // 點選後切換顯示
            display: flex;
            animation: show 1s both;
        }

        li a {
            color: $brown-100;
            transition: color 0.2s linear;
        }

        svg {
            display: block;
            margin-top: -10px;
            /* 控制 svg 與文字的距離 */
        }

        .nav-blue {
            display: inline-block;
            position: relative;
            flex-direction: column;

            &:hover {
                .line {
                    animation: draw .5s linear forwards;
                }
            }

            >* {

                .t {
                    color: #7DC5E4;
                    display: inline;
                }

                &:hover {
                    color: #7DC5E4;
                }
            }


            // svg線條動畫
            .line {
                width: 103px;
                height: 12px;
                fill: none;
                stroke: #69C9A0;
                stroke-width: 2;
                stroke-linecap: round;
                vector-effect: non-scaling-stroke;
                stroke-dasharray: 1;
                /* 1 = 線條總長度 */
                stroke-dashoffset: 1;
                /* 初始值 = 完全隱藏 */
            }
        }

        .nav-pink {
            display: flex;
            flex-direction: column;

            &:hover {
                .line {
                    animation: draw .5s linear forwards;
                }
            }

            >* {
                .t {
                    color: #FFA8B5;
                    display: inline;
                }

                &:hover {
                    color: #FFA8B5;
                }
            }

            // svg線條動畫
            .line {
                width: 102px;
                height: 16px;
                fill: none;
                stroke: #7DC5E4;
                stroke-width: 2;
                stroke-linecap: round;
                vector-effect: non-scaling-stroke;
                stroke-dasharray: 1;
                /* 1 = 線條總長度 */
                stroke-dashoffset: 1;
                /* 初始值 = 完全隱藏 */
            }
        }

        .nav-orange {
            display: flex;
            flex-direction: column;

            &:hover {
                .line {
                    animation: draw .5s linear forwards;
                }
            }

            >* {
                .t {
                    color: #FF8457;
                    display: inline;
                }

                &:hover {
                    color: #FF8457;
                }
            }

            // svg線條動畫
            .line {
                width: 102px;
                height: 15px;
                fill: none;
                stroke: #FF61B0;
                stroke-width: 2;
                stroke-linecap: round;
                vector-effect: non-scaling-stroke;
                stroke-dasharray: 1;
                /* 1 = 線條總長度 */
                stroke-dashoffset: 1;
                /* 初始值 = 完全隱藏 */
            }
        }

        .nav-green {
            display: flex;
            flex-direction: column;

            &:hover {
                .line {
                    animation: draw .5s linear forwards;
                }
            }

            >* {
                .t {
                    color: #69C9A0;
                    display: inline;
                }

                &:hover {
                    color: #69C9A0;
                }
            }

            // svg線條動畫
            .line {
                width: 102px;
                height: 10px;
                fill: none;
                stroke: #C075E3;
                stroke-width: 2;
                stroke-linecap: round;
                vector-effect: non-scaling-stroke;
                stroke-dasharray: 1;
                /* 1 = 線條總長度 */
                stroke-dashoffset: 1;
                /* 初始值 = 完全隱藏 */
            }
        }

        .nav-purple {
            display: flex;
            flex-direction: column;

            &:hover {
                .line {
                    animation: draw .5s linear forwards;
                }
            }

            >* {
                .t {
                    color: #C075E3;
                    display: inline;
                }

                &:hover {
                    color: #C075E3;
                }
            }

            // svg線條動畫
            .line {
                width: 102px;
                height: 15px;
                fill: none;
                stroke: #FFD700;
                stroke-width: 2;
                stroke-linecap: round;
                vector-effect: non-scaling-stroke;
                stroke-dasharray: 1;
                /* 1 = 線條總長度 */
                stroke-dashoffset: 1;
                /* 初始值 = 完全隱藏 */
            }
        }
    }



}

@keyframes draw {

    /* 從隱藏開始 */
    to {
        stroke-dashoffset: 0;
    }
}


/* 頁尾區 */
footer {
    background-color: #fcfbd0;
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #64503C;
    padding: 0 0 20px 0;
    clip-path: polygon(86% 22%, 100% 66%, 100% 100%, 0 100%, 0 57%);

}