/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    display: inline-block;
    text-decoration: none;
}


/* CSS reset */

/* outline check */

* {
    outline: 1px solid red;
}

/* 共用區 */

h2 {
    font-size: 32px;
}

h3 {
    font-size: 32px;
}

img{
    display: block;
    height: auto;
}

.btn {
    color: brown;
    padding: 10px 20px;
    margin: 20px 0;
    border: 2px solid #000;
    border-radius: 999px;
}

/* header區 */

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

header ul li a {
    padding: 10px 10px;
    color: brown;
}

header ul li a:hover {
    color: blueviolet;
}

/* hero區-主視覺 */
.hero {
    display: flex;
    justify-content: center;
    /* margin: 0px 100px; */
    height: auto;
    padding: 40px 0;
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name img {
    width: 150px;
}

.heroFlower img {
    width: 800px;
}

.slogan {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 100px;
    margin: 0 -50px;
}

/* activity */

.activity {
    margin: 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.activity h2 {
    text-align: center;
    padding: 10px 0;
}

.activity h3 {
    text-align: center;
    padding-bottom: 50px;
}

.gallery {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gallery h4 {
    padding: 10px 0;
    text-align: left;
}

.pic {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0 40px;
}

.pic .f1 {
    width: 100%;
    background-image: url('../images/藍底.svg');
    background-repeat: no-repeat;
    background-position: right
}


/* 最新消息區 */
.news {
    margin: 50px 100px;
    display: flex;
    align-items: center;
    background-image: url(../images/大綠底圖.svg);
    background-repeat: no-repeat;
    background-position: left;
}

.newsList {
    /* flex: 1 == flex-grow: 1，將父層剩餘給newsList  */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0 0 50px;
    margin-right: 50px;
    
}

.newsPic{
    margin-left: -50px;
}

.news img {
    width: 100%;
    /* object-fit: cover; */
}

.newsList ul {
    margin: 30px 0 10px 0;
}

.newsList ul li {
    margin-bottom: 10px;
    padding: 10px 0;
    background: #fff;
}

.newsList ul li .tag {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 60px;
    background-color: aquamarine;
}

.newsList ul li a {
    padding: 5px 10px;
    margin-right: 100px;
    color: tomato;
}

/* 認識花卉 */
.introFlower {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 100px;

}

.introFlower .click {
    display: flex;
    margin-right: 100px;
}

.introFlower .click img{
    width: 100%;
}
.leftPic{
    margin-right: 30px;
}


.book img {
    width: 50%;
    height: auto;
}

/* 花牆票選 */
.vote{
    display: flex;
    align-items: center;
    margin: 50px 100px;
}

.voteTitle{
    margin-right: 30px;
}

.crown img{
    
    width: 50%;
}

.vote .wall{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(210, 236, 255, .5);
    padding: 30px;
}

.wall img{
    display: block;
    width: 85%;
    margin: 0 20px;
}


/* 頁委區 */
footer{
    padding: 10px 0;
    text-align: center;
}