// Primary color :春夏秋冬
$winter-blue: #D2ECFF;
$summer-green: #D6F6DC;
$autumn-red: #FFE2D2;
$spring-yellow: #FFF4CA;

// Secindary color: 各縣市花色
$Taipei-purple: #9D47B9;
$NewTaipeiCity-yellow: #FFD700;
$Keelung-purple: #C075E3;
$Yilan-purple: #F47EDE;
$Taoyuan-pink: #FF61B0;
$Hsinchu-pink: #FFA8B5;
$HsinchuCity-orange: #FF8457;
$sky-blue: #7DC5E4;
$grass-green: #69C9A0;

// Background: 底圖色塊
$bg-green: #D6F6DC;
$bg-blue: #D2ECFF;
$bg-gray: #F5F5F5;

// Text Color: 字體顏色
$title-brown: rgb(100, 80, 60);
$text-brown: #64503C;


// opacity; 透明度
$op-10: 0.1;
$op-20: 0.2;
$op-30: 0.3;
$op-50: 0.5;
$op-70: 0.7;
$op-100:1;


// font-family

$family-en: Noto Sans;
$family-tc: LXGW WenKai TC;


// font-size 字體大小
$f-s-xs: .75rem;
$f-s-sm: .85rem;
$f-s-md: 1rem;
$f-s-lg: 1.2rem;
$f-s-xl: 1.5rem;
$f-s-xxl: 1.8rem;
$f-s-ex: 4rem;

$f-s-title: 2rem;
$f-s-title: 1.5rem;
$f-s-btn: 1.25rem;


// spacing
