* {
    margin: 0px;
    padding: 0px;
    /* border: 1px solid red;  */
}

.newsBanner {
    display: flex;
    margin-top: 20px;
}

.newsBanner img {
    display: flex;
    width: 100%;
    height: 400px;
    object-fit: cover;
    justify-content: center;
}

.content {
    display: flex;
    margin: 30px 175px;
}

.content .news {
    width: 80%;
    margin: 10px;
}

.news .newsCardWarp {
    display: flex;
    flex-wrap: wrap;
}

.news .newsCardWarp .newsCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    margin: 10px auto;
    padding: 10px;
    padding-bottom: 20px;
    border: 1px solid rgba(85, 85, 85, 0.373);
    border-radius: 3px;
}

.news .newsCardWarp .newsCard img {
    width: 80%;
    margin: auto;
}

.newsCard > * {
    display: flex;
    margin: 2px 0;
    padding: 2px 10px;
}

.labledate {
    justify-content: space-between;
}

.labledate .lable {
    background-color: rgb(248, 198, 133);
    padding: 1px 15px;
}

.content .discount {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 25px 10px;
    text-align: center;
}

.content .discount img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    margin: 10px 0;
}